:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.viewer {
    height: 100%;
    overflow: auto;
}
.output {
    padding: 6px 10px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: #3c709b;
}
.tip {
    max-width: 768px;
    padding: 4ex 1em 2ex;
    white-space: pre-line;
    text-align: center;
    background: white;
}
.output:before {
    content: url('^./assets/images/mic.svg');
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    opacity: .6;
}
.output.active:before {
    opacity: 1;
    filter: invert(38%) sepia(93%) saturate(323%) hue-rotate(165deg) brightness(87%) contrast(86%);
}
.tips-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 2em;
    background-color: rgba(0, 0, 0, .7);
}
.close-tips-overlay-button:before {
    content: url('^./assets/images/arrow_circle.svg');
    display: block;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}
.close-tips-overlay-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 2ex 1em 0;
    width: 100%;
}
.tip .nav-link {
    text-decoration: underline;
}