:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.instructions {
    flex: 1;
    list-style:  none;
    padding: 12px 0 0 0;
}
.settings-step,
.tags-step,
.home-step,
.new-document-step,
.edit-step,
.index-step,
.preview-step,
.search-step {
    background-repeat: no-repeat;
    background-position: 6px 0;
    background-size: 20px 20px;
    padding: 0 0 20px 32px;
    color: #666;
    position: relative;
}
.settings-step:before,
.tags-step:before,
.home-step:before,
.new-document-step:before,
.edit-step:before,
.index-step:before,
.preview-step:before {
    content: '';
    position: absolute;
    top: 22px;
    left: 15px;
    bottom: 2px;
    width: 2px;
    background-color: #777;
}
.settings-step {
    background-image: url('^.assets/images/settings.svg');
}
.tags-step {
    background-image: url('^.assets/images/new-tag.svg');
}
.home-step {
    background-image: url('^.assets/images/home.svg');
}
.new-document-step {
    background-image: url('^.assets/images/post_add.svg');
}
.edit-step {
    background-image: url('^.assets/images/wysiwyg.svg');
}
.index-step {
    background-image: url('^.assets/images/manage_search.svg');
}
.preview-step {
    background-image: url('^.assets/images/find-in-page.svg');
}
.search-step {
    background-image: url('^.assets/images/record-voice-over.svg');
}