<h1 class="page-title" translate>_how_to_get_started</h1>
<ul class="instructions page-body">
    <li class="settings-step" translate>_go_to_settings</li>
    <li class="tags-step" translate>_add_wake_up_tags</li>
    <li class="home-step" translate>_go_to_home</li>
    <li class="new-document-step" translate>_select_create_a_new_document</li>
    <li class="edit-step" translate>_design_your_cheat_sheet</li>
    <li class="index-step" translate>_highlight_the_text</li>
    <li class="preview-step" translate>_go_to_preview</li>
    <li class="search-step" translate>_voice_search_can_be_activated</li>
</ul>
<app-nav>
    <li class="nav-item"><a class="nav-link policy-icon" routerLink="/terms" title="Terms" translate>_terms</a></li>
    <li class="nav-item"><a class="nav-link settings-icon" routerLink="/settings" title="Settings" translate>_settings</a></li>
</app-nav>