<div class="terms">
    <h1 class="page-title" translate>_terms_and_conditions</h1>
    <p class="page-body" translate>_p1</p>
    <h2 class="section-title" translate>_links_to_other_resources</h2>
    <p class="page-body" translate>_p2</p>
    <h2 class="section-title" translate>_prohibited_uses</h2>
    <p class="page-body" translate>_p3</p>
    <h2 class="section-title" translate>_intellectual_property_rights</h2>
    <p class="page-body" translate>_p4</p>
    <h2 class="section-title" translate>_limitation_of_liability</h2>
    <p class="page-body" translate>_p5</p>
    <h2 class="section-title" translate>_indemnification</h2>
    <p class="page-body" translate>_p6</p>
    <h2 class="section-title" translate>Severability</h2>
    <p class="page-body" translate>_p7</p>
    <h2 class="section-title" translate>_dispute_resolution</h2>
    <p class="page-body" translate>_p8</p>
    <h2 class="section-title" translate>_changes_and_amendments</h2>
    <p class="page-body" translate>_p9</p>
    <h2 class="section-title" translate>_acceptance_of_these_terms</h2>
    <p class="page-body" translate>_p10</p>
</div>
<app-nav>
    <li class="nav-item"><a class="nav-link settings-icon" routerLink="/settings" title="Settings" translate>_settings</a></li>
</app-nav>