<h1 class="page-title" translate>_settings</h1>
<h2 class="section-title" translate>_wake_up_tags</h2>
<div class="tag-area" translate>
    <textarea #textarea></textarea>
</div>
<h2 class="section-title" translate>_language</h2>
<div class="lang-area">
    <select class="select" [value]="langsService.languageName" (change)="updateLanguage($event)">
        <option *ngFor="let l of langsService.langs; let i = index" [selected]="l[0] === langsService.languageName" [disabled]="!l[1]"  [value]="i">{{l[0]}}</option>
    </select>
    <select class="select" [value]="langsService.lcid" *ngIf="langsService.codes && langsService.codes[1]" (change)="updateLcid($event)">
        <option *ngFor="let code of langsService.codes" [value]="code[0]" [selected]="code[0] === langsService.lcid">{{code[1]}}</option>
    </select>
</div>
<app-nav>
    <li class="nav-item"><a class="nav-link info-icon" routerLink="/info" title="Info" translate>_info</a></li>
</app-nav>
