:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.lang-area {
    flex: 1;
    text-align: center;
}
.lang-area,
.tag-area {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}
.select {
    margin: 10px;
}